<h1>Listing posts</h1>

<div>
	<ul>
		<% @posts.each do |post| %>
		  <li>
		    <p><strong><%= h post.title %></strong></p>
		    <p><%= truncate(h(post.body), :length => 100) %></p>
		    <span class="commands">
				<%= link_to 'Show', post %> | 
		        <%= link_to 'Edit', edit_post_path(post) %> | 
		        <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
			</span>
		  </li>
		<% end %>    
	</ul>

	<p><%= link_to 'New post', new_post_path %></p>
</div>
      

