<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "blueprint/reset", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/typography", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/forms", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/grid", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]>
	<%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "base", :media => "screen, projection" %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div class="container">
		<p style="color: green"><%= flash[:notice] %></p>
	    <%= yield %>
	</div>
</body>
</html>
